/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
}

/* Navigation */
html {
  scroll-behavior: smooth !important;
}

html[data-scroll="0"] .navbar {
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  z-index: 20;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  background-blend-mode: overlay;
  opacity: 1.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 1s linear, opacity 1s linear, box-shadow 1s linear;
  z-index: 20;
}

/* Buttons */
.mainbutton {
  position: relative;
  overflow: hidden;
  background: transparent;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  transition: 0.7s;
  z-index: 0;
}

.mainbutton[disabled] {
  position: relative;
  overflow: hidden;
  background: transparent;
  border-width: 1px;
  border-color: #717375;
  color: #717375;
  text-align: center;
  padding: 10px 20px;
  transition: 0.7s;
  z-index: 0;
}

.mainbutton:hover{
  border-color: #710010;
}

.mainbutton[disabled]:hover {
  border-color: #717375;
}

.mainbutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: #710010;
  transition: width 0.5s;
  transform: translateX(-50%);
  z-index: -1;
}

.mainbutton:hover::before {
  width: 200%;
}

.mainbutton[disabled]:hover::before {
  width: 0%;
}

/* Cards */
.service-card {
  opacity: 1;
  box-shadow: 0px 0px 12px 8px rgba(113, 0, 16, 0.4);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.7s;
}

.service-card:hover {
  opacity: 0.5;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.4);
  border-color: rgba(113, 0, 16, 1);
}

.product-card {
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.1);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.7s;
}

.contact-card {
  opacity: 0.4;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 1);
  border-width: 1px;
  border-color: #710010;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.7s;
}

.contact-card:hover {
  opacity: 1;
  box-shadow: 0px 0px 15px 8px rgba(113, 0, 16, 0.4);
}

.work-card {
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-color: rgba(113, 0, 16, 0.4);
}

.form-board {
  opacity: 1;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-color: rgba(113, 0, 16, 0.4);
}

/* Backgrounds */
.red-band {
  position: absolute;
  background-color: #710010;
  margin-top: 100px;
  width: 100%;
  height: 480px;
  opacity: 0.4;
  z-index: -1;
}

.about-wide-bg {
  background: #000;
  position: relative;
  z-index: 0;
}

.about-wide-bg::before {
  content: "";
  background-image: url('/images/WhyUs/electron_lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
}

.why-bg {
  background: #000;
  position: relative;
  z-index: 0;
}

.why-bg::before {
  content: "";
  background-image: url('/images/WhyUs/electron_lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
}

/* Hover Effects */
.hover-underline {
  display: inline-flex;
  position: relative;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Radial */
.radial-bgone {
  position: absolute;
  background: linear-gradient(90deg, #710010 0%, #710010 97.15%);
  opacity: 0.3;
  filter: blur(392px);
  border-radius: 200px;
  width: 50rem;
  height: 50rem;
  right: 0%;
  top: 50%;
}

.radial-hero {
  position: absolute;
  background: #000;
  opacity: 1;
  filter: blur(392px);
  border-radius: 500px;
  width: 40rem;
  height: 40rem;
  left: -10%;
  top: -30%;
  z-index: 1;
}

.radial-center {
  position: absolute;
  background: linear-gradient(90deg, #710010 0%, #710010 97.15%);
  opacity: 0.5;
  filter: blur(392px);
  border-radius: 400px;
  width: 40rem;
  height: 25rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.radial-bg {
  position: absolute;
  background: linear-gradient(90deg, #710010 0%, #710010 97.15%);
  opacity: 1;
  filter: blur(392px);
  border-radius: 400px;
  width: 40rem;
  height: 25rem;
  left: -383px;
  top: 0%;
  z-index: -1;
}

/* Miscellaneous */
.shadow-image {
  filter: drop-shadow(0px 2px 8px rgba(113, 0, 16, 0.25));
}

.handwritten {
  font-family: 'Segoe Script', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
}

.space-links {
  transition: .4s;
}

.space-links:hover {
  color: #710010;
}

.contact-obj {
  transition: .3s;
}

.contact-obj:hover {
  color: #710010;
}

.footer-icons {
  transition: .5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.dance-text {
  position: absolute;
  top: 20%;
  left: 0%;
  transform: rotate(-25deg);
  font-family: 'Segoe Script', sans-serif;
  z-index: 1;
}

.hero-text {
  z-index: 1;
}

.contact-logo {
  position: absolute;
  margin-top: 250px;
  right: 14%;
  z-index: -1;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.4);
  border-width: 1px;
  border-color: rgba(113, 0, 16, 0.4);
}

.highlight {
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);
}