@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  /* background-image: linear-gradient(90deg, #BD24DF 0%, #2D6ADE 97.15%); */
  /* background-image: linear-gradient(90deg, rgba(189, 36, 223, 0.5) 0%, rgba(45, 106, 222, 0.5) 97.15%); */
  background-blend-mode: overlay;
}

html {
  scroll-behavior: smooth !important;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-image: linear-gradient(90deg, #BD24DF 0%, #2D6ADE 97.15%); */
  background-color: #040000;
  background-blend-mode: overlay;
  opacity: 1.9;
  box-shadow: 0 0 30px 15px rgba(128, 16, 34, 0.25);
  transition: background-color 0.6s linear, opacity 0.6s linear, box-shadow 0.6s linear;
  z-index: 40;
}

.CustomMenuSimple--listbox {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 6px;
  margin: 12px 0;
  min-width: 200px;
  border-radius: 12px;
  overflow: auto;
  outline: 0;

  background: #333;
  /* Grey color */
  border: 1px solid #555;
  /* Dark grey color */
  color: #eee;
  /* Light grey color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.50);
}

.CustomMenuSimple--item {
  list-style: none;
  padding: 8px;
  border-radius: 8px;
  cursor: default;
  user-select: none;
}

.CustomMenuSimple--item:last-of-type {
  border-bottom: none;
}

.CustomMenuSimple--item:focus {
  outline: 3px solid cyan;
  background-color: #444;
  /* Dark grey color */
  color: #eee;
  /* Light grey color */
}

.TriggerButtonSimple {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
  background: #333;
  /* Grey color */
  border: 1px solid #555;
  /* Dark grey color */
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  &:hover {
    background: #444;
    /* Dark grey color */
    border-color: #666;
    /* Grey color */
  }

  &:active {
    background: #222;
    /* Darker grey color */
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px cyan;
    outline: none;
  }
}

.CustomMenuSimple {
  z-index: 41;
}

.mainbutton {
  position: relative;
  overflow: hidden;
  background: #801022;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0.7;
  transition: color 0.7s, background 0.7s;
  z-index: 0;
}

.mainbutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: white;
  transition: width 0.5s;
  transform: translateX(-50%);
  z-index: -1;
}

.mainbutton:hover::before {
  width: 200%;
}

.mainbutton:hover {
  color: #801022;
  opacity: 1;
}

.dance-text {
  position: absolute;
  top: 5%;
  left: 5%;
  transform: rotate(-20.06deg);
  /* text-align: center; */
  /* margin-left: -340px; */
}

@media only screen and (max-width: 466px) {
  .dance-text {
    margin-left: -265px;
  }
}

.hero-text {
  z-index: 1;
}

.service-card {
  opacity: 0.4;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 1);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-width: 1px;
  border-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}

.service-card:hover {
  opacity: 1;
  box-shadow: 0px 0px 24px 8px rgba(196, 36, 62, 0.4);
}

.contact-card {
  opacity: 0.4;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 1);
  border-width: 2px;
  border-color: #801022;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}

.contact-card:hover {
  opacity: 1;
  box-shadow: 0px 0px 15px 8px rgba(196, 36, 62, 0.4);
}

.work-card {
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-color: rgba(128, 16, 34, 0.4);
}

.form-board {
  opacity: 1;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 1);
  border-width: 1px;
  border-color: rgba(128, 16, 34, 0.4);
}

.red-band {
  position: absolute;
  background-color: #801022;
  margin-top: 100px;
  width: 100%;
  height: 480px;
  opacity: 0.4;
  z-index: -1;
}

.contact-logo {
  position: absolute;
  margin-top: 250px;
  right:14%;
  z-index: -1;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.4);
  border-width: 1px;
  border-color: rgba(128, 16, 34, 0.4);
}

.highlight {
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);
}

/* Work Section */

.card-b {
  background: #0C1B44;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  transition: transform 430ms;
  height: 258px;
}

.card-b:hover {
  filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.1));
  transform: scale(1.05);
  border: 1px solid #BD24DF;
  height: 360px;
}

.hides {
  display: none;
}

.card-b:hover.hides {
  display: block;
}

.about-wide-bg {
  background: #000;
  position: relative;
  z-index: 0;
}

.about-wide-bg::before {
  content: "";
  background-image: url('/images/WhyUs/electron_lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
}

.why-bg {
  background: #000;
  position: relative;
  z-index: 0;
}

.why-bg::before {
  content: "";
  background-image: url('/images/WhyUs/electron_lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
}

.hover-underline {
  display: inline-flex;
  position: relative;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  /* #801022 */
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.space-links {
  transition: .4s;
}

.space-links:hover {
  letter-spacing: 1px;
  color: #801022;
}

.contact-obj {
  transition: .3s;
}

.contact-obj:hover {
  letter-spacing: 1px;
  color: #801022;
}

.footer-icons {
  transition: .5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.radial-bgone {
  position: absolute;
  background: linear-gradient(90deg, #801022 0%, #801022 97.15%);
  opacity: 0.5;
  filter: blur(392px);
  border-radius: 508.5px;
  width: 51rem;
  height: 50rem;
  right: -13%;
  top: 50%;
}

.radial-hero {
  position: absolute;
  background: linear-gradient(90deg, #801022 0%, #801022 97.15%);
  opacity: 0.5;
  filter: blur(392px);
  border-radius: 508.5px;
  width: 78rem;
  height: 50rem;
  left: 11%;
  top: -12%;
  z-index: -2;
}

.radial-center {
  position: absolute;
  background: linear-gradient(90deg, #801022 0%, #801022 97.15%);
  opacity: 0.5;
  filter: blur(392px);
  border-radius: 508.5px;
  width: 51rem;
  height: 25rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.radial-bg {
  position: absolute;
  background: linear-gradient(90deg, #801022 0%, #801022 97.15%);
  opacity: 1;
  filter: blur(392px);
  border-radius: 508.5px;
  width: 51rem;
  height: 25rem;
  left: -383px;
  top: 0%;
  z-index: -1;
}

.shadow-image {
  filter: drop-shadow(0px 2px 8px rgba(128, 16, 34, 0.25));
  /* border: 1px solid #801022; */
}

.handwritten {
  font-family: 'Segoe Script', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
}

.position-linkedin {
  right: 20px;
  bottom: -50px;
}